.fade-up{

    opacity:0;

    transform:translateY(40px);

    transition:.8s;

}

.fade-up.show{

    opacity:1;

    transform:translateY(0);

}

.zoom{

    transition:.35s;

}

.zoom:hover{

    transform:scale(1.05);

}